{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
    <script src="https://use.typekit.net/hoy3lrg.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

<body>
  <div id="frame">
    <div id="sidepanel">
      <div id="profile">
        <div class="wrap">
          <img id="profile-img" src="http://emilcarlsson.se/assets/mikeross.png" class="online" alt="" />
          <p>{{ user|capfirst }}</p>
        </div>
      </div>
      <div id="search">
        <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
        <input type="text" placeholder="Search contacts..." />
      </div>
      <div id="contacts">
        <ul>
          {% for users in all_users %}
            <li class="contact">
                <div class="wrap">
                  <span class="contact-status online"></span>
                  <img src="http://emilcarlsson.se/assets/louislitt.png" alt="{{ users.username|capfirst }}" />
                  <div class="meta">
                    <p class="name">{{ users.username|capfirst }}</p>
                    <p class="preview">Online</p>
                  </div>
                </div>
            </li>
          {% endfor %}
          <li class="contact">
            <div class="wrap">
              <span class="contact-status busy"></span>
              <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
              <div class="meta">
                <p class="name">Harvey Specter</p>
                <p class="preview">Offline</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div id="bottom-bar">
        <button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button>
        <button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span></button>
      </div>
    </div>
    <div class="content">
      <div class="contact-profile">
        <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
        <p>Universal Chat</p>
{#        <div class="social-media">#}
{#          <i class="fa fa-facebook" aria-hidden="true"></i>#}
{#          <i class="fa fa-twitter" aria-hidden="true"></i>#}
{#          <i class="fa fa-instagram" aria-hidden="true"></i>#}
{#        </div>#}
      </div>
      <div class="messages">
        <ul id="chat-log">
{#            <li class="sent">#}
{#            <img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />#}
{#            <p>How the hell am I supposed to get a jury to believe you when I am not even sure that I do?!</p>#}
{#          </li>#}
{#          <li class="replies">#}
{#            <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />#}
{#            <p>When you're backed against the wall, break the god damn thing down.#}
{#                <br><small style="float: right">18:50 </small>#}
{#            </p>#}
{#          </li>#}
        </ul>
      </div>
      <div class="message-input">
        <div class="wrap">
{#        <input id="chat-message-input" type="text" placeholder="Write your message..." />#}
{#        <a class="btn" id="attach-btn" >#}
{#          <i class="fa fa-paperclip attachment" aria-hidden="true"></i>#}
{#        </a>#}
{#        <button id="chat-message-submit" class="submit">#}
{#          <i class="fa fa-paper-plane" aria-hidden="true"></i>#}
{#        </button>#}
            <div class="input-group">
              <input  id="chat-message-input" type="text" placeholder="Write your message...">
              <div class="input-group-append">
                <a class="btn btn-light attach-btn" ><i class="fa fa-paperclip attachment" aria-hidden="true"></i></a>
                <button id="chat-message-submit" class="submit">
                  <i class="fa fa-paper-plane" aria-hidden="true"></i>
                </button>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/reconnecting-websocket.js' %}"></script>
<script>
    var roomName = {{ room_name_json }};
    var username = {{ username }};
    var chatSocket = new ReconnectingWebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');
    chatSocket.onopen = function(e) {
      fetchMessages();
    }
    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        if (data['command'] === 'messages') {
          for (let i=0; i<data['messages'].length; i++) {
            createMessage(data['messages'][i]);
          }
        } else if (data['command'] === 'new_message'){
          createMessage(data['message']);
        }
    };
    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };
    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.getElementById('chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'command': 'new_message',
            'message': message,
            'from': username
        }));
        messageInputDom.value = '';
    };
    function fetchMessages() {
      chatSocket.send(JSON.stringify({'command': 'fetch_messages' }));
    }
    function createMessage(data) {
      var author = data['author'];
      var msgListTag = document.createElement('li');
      var imgTag = document.createElement('img');
      var pTag = document.createElement('p');
      var usertag = document.createElement('span')
      var br = document.createElement('br')
      var tbr = document.createElement('br')
      var timestamp = document.createElement('small')
      timestamp.textContent = new Date(data.timestamp).toLocaleDateString([], {hour: '2-digit', minute:'2-digit'});
      pTag.textContent = data.content ;
      usertag.textContent = data.author.charAt(0).toUpperCase() + data.author.slice(1);
      imgTag.src = 'http://emilcarlsson.se/assets/mikeross.png';

      if (author === username) {
        msgListTag.className = 'replies';
        msgListTag.appendChild(imgTag);

      } else {
        msgListTag.className = 'sent';
        msgListTag.appendChild(imgTag);
        msgListTag.appendChild(usertag);
        msgListTag.appendChild(br);
      }
      pTag.appendChild(tbr)
      pTag.appendChild(timestamp);
      msgListTag.appendChild(pTag);
      document.querySelector('#chat-log').appendChild(msgListTag);
    }
</script>
</body>

</html>